bin/

/nbproject/private/
/build/
/dist/
/bin/
*.db
burtis.jar
run_burtis
/run_burtis~
/run_burtis_ss
*.txt
/burtis.modules.simulation.Simulation
/burtis.modules.passengers.PassengerModule
/burtis.modules.simulation.Simulation.lck
/burtis.modules.passengers.PassengerModule.lck
/burtis.modules.simulation.Simulation~
/burtis.modules.passengers.PassengerModule.1
/burtis.modules.simulation.Simulation.1
